<?xml version="1.0"?>
<config>
    <modules>
        <SLV_SalesReport>
            <version>0.1.0</version>
        </SLV_SalesReport>
    </modules>
    <admin>
        <routers>
            <slv_salesreport>
                <use>admin</use>
                <args>
                    <module>SLV_SalesReport</module>
                    <frontName>slv_salesreport</frontName>
                </args>
            </slv_salesreport>
        </routers>
    </admin>
    <!--<adminhtml>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<cpwms>-->
                    <!--<file>cafepress/cpwms.xml</file>-->
                <!--</cpwms>-->
            <!--</updates>-->
        <!--</layout>-->
    <!--</adminhtml>-->
    <global>
        <models>
            <slv_salesreport>
                <class>SLV_SalesReport_Model</class>
            </slv_salesreport>
        </models>
        <resources>
            <!--<slv_salesreport_setup>-->
                <!--<setup>-->
                    <!--<module>SLV_SalesReport</module>-->
                <!--</setup>-->
                <!--<connection>-->
                    <!--<use>core_setup</use>-->
                <!--</connection>-->
            <!--</slv_salesreport_setup>-->
            <slv_salesreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slv_salesreport_write>
            <slv_salesreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slv_salesreport_read>
        </resources>
        <blocks>
            <slv_salesreport>
                <class>SLV_SalesReport_Block</class>
            </slv_salesreport>
        </blocks>
        <slv_salesreport_block_events>
            <Mage_Adminhtml_Block_Sales_Order_Grid>
                <observers>
                    <type>singleton</type>
                    <block>slv_salesreport/observer</block>
                    <method>Mage_Adminhtml_Block_Sales_Order_Grid</method>
                    <parent>true</parent>
                </observers>
            </Mage_Adminhtml_Block_Sales_Order_Grid>
        </slv_salesreport_block_events>
        <helpers>
            <slv_salesreport>
                <class>SLV_SalesReport_Helper</class>
            </slv_salesreport>
        </helpers>
        <events>
            <adminhtml_block_html_before>
                <!--Use For rewrite Adminhtml-->
                <observers>
                    <adminhtml_block_html_before_slv_salesreport>
                        <type>singleton</type>
                        <class>slv_salesreport/blockObserver</class>
                        <method>runBlockObserver</method>
                    </adminhtml_block_html_before_slv_salesreport>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
</config>